<div class="modal fade" id="formUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Nuevo Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createUser" action="/users/add" method="POST">                    
                    <div class="mb-3">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese un email" required/>
                    </div>                    
                    <div class="mb-3">
                        <label for="patterns" class="col-form-label">Rol</label>  
                        <select class="form-select" id="rol" name="rol" required>
                            <option value="" disabled selected>-- Escoja una opcion --</option>
                            {{#each rols}}
                                <option value="{{_id}}">{{rol}}</option>                                
                            {{/each}}
                        </select>                      
                    </div>                    
                    <div class="mb-3">
                        <label for="responses" class="col-form-label">Categoria</label>
                        <select class="form-select" id="category" name="category" required>
                            <option value="" disabled selected>-- Escoja una opcion --</option>
                            {{#each categories}}
                                <option value="{{_id}}">{{category}}</option>                                
                            {{/each}}
                        </select>  
                    </div>  
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="createUser">Añadir</button>
            </div>
        </div>
    </div>
</div>