<div class="modal fade" id="formResetPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Restablecimiento de contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="resetPass" action="/resetPassword" method="POST">                    
                    <div class="mb-3">
                        <label for="email1" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="email1" name="email1" placeholder="Ingrese un email" required/>
                    </div>
                    <div class="mb-3">
                        <label for="emailConfirm" class="col-form-label">Confirmar Email</label>
                        <input type="text" class="form-control" id="emailConfirm" name="emailConfirm" placeholder="Ingrese un email" required/>
                    </div> 
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="resetPass">Enviar</button>
            </div>
        </div>
    </div>
</div>